@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
.CartLink .myCart .cartLogo {
  width: 20px;
}
.CartLink .myCart {
  display: flex;
}
.CartLink .myCart p {
  color: rgba(0, 0, 0, 0.742);
  font-weight: 700;
  font-size: 13px;
  font-family: 'Signika Negative', sans-serif;
}
.CartLink .myCart p:hover {
  color: black;
}
.CartLink a {
  text-decoration: none;
}

.CartLink span {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
}