@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
.ProductList {
  display: flex;
  flex-wrap: wrap;
}
.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 2px black solid;
  margin: 5px;
}
.ProductList .Product a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.ProductList .Product span {
  color: rgb(126, 126, 126);
  font-weight: 600;
  font-size: 25px;
  font-family: 'Dongle', sans-serif;
}

.ProductList .Product img {
  max-width: 100%;
  border-bottom: 1px black solid;
}