.company-info .MainAbout img {
  position: absolute;
}
.company-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.company-info p {
  font-size: 20.4px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.company-info .elementor {
  padding: 20px 0 8px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.company-info .elementor h2 {
  margin-top: 0;
}
.company-info .elementor .About-photo {
  width: 550px;
  height: 400px;
  float: right;
  margin-left: 10px;
}
.company-info .elementor .About-1 {
  float: right;
  width: 100%;
  height: 100%;
}
.company-info .elementor div span img {
  width: 8px;
  margin-right: 8px;
  margin-top: 6px;
}

.Main-About {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.about-photo {
  position: relative;
  flex: 1;
}

.about-background {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.8;
}

.about-text {
  position: absolute;
  top: 47%;
  left: 3.5%;
  transform: translate(-2%, -47%);
  background-color: rgba(255, 255, 255, 0.71);
  padding: 20px;
  text-align: center;
}

.elementor {
  margin-top: 30px;
}

.About-photo {
  text-align: center;
  margin-bottom: 20px;
}

.About-1 {
  height: auto;
}

.box-1 {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.box-1 span:first-child {
  margin-right: 10px;
}

.box-1 img {
  width: 20px;
  height: 20px;
}
