.About .AboutContent .box-1 span::before {
    background: #514b47;
    content: "";
    display: inline-block;
    height: 4px;
    left: -15px;
    position: absolute;
    top: 11px;
    width: 4px;
}