.Home {
  background-color: #a8583826;
  border-radius: 10px;
  padding: 10px;
}
.Home .dop-product {
  width: 100%;
}
.Home .product-Home {
  display: flex;
}
.cushioned:hover,
.cushioned-3:hover {
  filter: brightness(0.8);
}
.Home .cushioned-3 {
  width: 100%;
}

.header1 {
  position: relative;
  text-align: center;
}

.header-image {
  width: 100%;
  height: auto;
  transition: 500ms ease, transform 500ms ease;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.436);
  padding: 10px;
  border-radius: 10px;
}
.header-text h1 {
  margin: 0;
}

.header-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header-subtitle {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.header-image:hover {
  opacity: 0.7;
}

.header-title:hover {
  color: rgb(168 87 56);
}

.header-subtitle:hover {
  color: rgb(168 87 56);
}
