.CategoryList ul {
  padding: 0;
}
.CategoryList li a {
  color: rgb(168 87 56);
  text-decoration: none;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CategoryList li {
  list-style-type: none;
  display: flex;
}
.CategoryList li a:hover {
  color: rgb(168 87 56);
  transform: scale(1.05);
}

.CategoryList h3 {
  margin: 0;
  position: relative;
  text-align: center;
  background-color: rgb(168 87 56);
  font-weight: 600;
  font-family: 'Signika Negative', sans-serif;
  border-radius: 15px 15px 0 0 ;
}