.CategoryList {
  overflow: hidden;
  width: 200px;
  border-radius: 20px;
}

.CategoryList ul {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  border-radius: 0 0 20px 20px;
  border: 2px solid rgb(168 87 56);
  margin-top: 0;
  overflow: hidden;
}

.CategoryList li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.CategoryList li a {
  color: rgb(168, 87, 56);
  text-decoration: none;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid transparent; /* Добавлено */
  transition: 500ms ease, transform 500ms ease; /* Добавлено */
}

.CategoryList li a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.05);
}

.CategoryList h3 {
  color: #fff;
  margin: 0;
  text-align: center;
  background-color: rgb(168, 87, 56);
  font-weight: 600;
  font-family: "Signika Negative", sans-serif;
}
