body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Product img {
  width: 200px;
  float: left;
}
.Product .AddToCart-product {
  width: 200px;
}
.Product .product_img {
  margin: 0 20PX 10PX 0;
}