.Nav .NavItem a {
  color: black;
}
.Nav .NavItem {
  margin: 0 auto;
}
.Nav ul {
  display: flex;
  flex-wrap: wrap;
}
.Nav ul li {
  list-style-type: none;
}
.Nav ul li:hover {
  transform: scale(1.2);
  transition: 200ms ease all;
}
.Nav ul li a {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 50px;
  text-decoration: none;
}
.Nav ul li a:hover {
  color: rgb(168 87 56);
}